.hero-banner{
    height:500px;
    background-size:cover;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/050/532/704/small/a-store-with-many-electronic-devices-on-display-photo.jpg");
    background-position:center;
    position:relative;
}

.overlay{

width:100%;
height:100%;

display:flex;
justify-content:center;
flex-direction:column;

padding:0 80px;

background:rgba(0,0,0,.45);

color:white;

}

.overlay h1{

font-size:56px;
max-width:600px;

}

.overlay p{

font-size:24px;

margin:20px 0;

}

.overlay button{

width:180px;
padding:15px;
border:none;
border-radius:30px;
background:#ff9900;
font-size:18px;
cursor:pointer;

}

/* Tablet */

@media(max-width:768px){

.overlay{

padding:40px;
align-items:center;
text-align:center;

}

.overlay h1{

font-size:42px;

}

.overlay p{

font-size:20px;

}

}

/* Mobile */

@media(max-width:480px){

.hero-banner{

height:380px;

}

.overlay{

padding:20px;

}

.overlay h1{

font-size:32px;

}

.overlay p{

font-size:17px;

}

.overlay button{

width:160px;

font-size:16px;

padding:12px;

}

}