.hero-banner{

height:420px;

background-image: url("https://static.vecteezy.com/system/resources/thumbnails/050/532/704/small/a-store-with-many-electronic-devices-on-display-photo.jpg");

background-size:cover;

background-position:center;

position:relative;

}

.overlay{

height:100%;

display:flex;

flex-direction:column;

justify-content:center;

padding-left:80px;

background:rgba(0,0,0,.45);

color:white;

}

.overlay h1{

font-size:55px;

line-height:1.1;

margin-bottom:15px;

max-width:500px;

}

.overlay p{

font-size:22px;

margin-bottom:20px;

}

.overlay button{

width:180px;

padding:14px;

border:none;

border-radius:30px;

background:#ff9900;

font-size:18px;

cursor:pointer;

}

@media(max-width:768px){

.hero-banner{

height:320px;

}

.overlay{

padding:20px;
text-align:center;
align-items:center;

}

.overlay h1{

font-size:36px;

}

.overlay p{

font-size:18px;

}

.overlay button{

width:170px;

}

}