.hero-banner {
  height: 500px;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/050/532/704/small/a-store-with-many-electronic-devices-on-display-photo.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
}

.overlay h1 {
  font-size: 52px;
  color: white;
  margin-bottom: 15px;
}

.overlay p {
  font-size: 24px;
  margin-bottom: 20px;
}

.overlay button {
  width: 180px;
  padding: 14px;
  border: none;
  background: orange;
  font-size: 18px;
  border-radius: 30px;
  cursor: pointer;
}

.overlay button:hover {
  background: darkorange;
}