body{

margin:0;

background:#eaeded;

font-family:Arial;

}

.home-container{

width:100%;

}

.product-grid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

padding:40px;

}

/* Laptop */

@media(max-width:1200px){

.product-grid{

grid-template-columns:repeat(3,1fr);

}

}

/* Tablet */

@media(max-width:768px){

.product-grid{

grid-template-columns:repeat(2,1fr);

padding:20px;

}

}

/* Mobile */

@media(max-width:480px){

.product-grid{

grid-template-columns:1fr;

padding:15px;

}

}